@charset "UTF-8";

@use "../_base/variable";

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    color: variable.$color-text;
    font-size: variable.$font-size;
    font-family: variable.$font-family-sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

a {
    color: variable.$color-link;
    text-decoration: underline;
    transition: color 200ms ease;
    @include mixin.mq-up() {
        body &:hover {
            color: variable.$color-link-hover;
            text-decoration: none;
        }
    }
}

img {
    max-width: 100%;
}