@charset "UTF-8";

@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoints-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoints-down, $breakpoint)} {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
